body{
    background-color: rgb(231, 231, 231);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

h2{
    color:black;
    text-align: center;
}

p{
    background-color: rgb(231, 231, 231);
    text-align: right;
    
}
.maps{
    background-color:  rgb(231, 231, 231);
}

.maps-paragrafo{
    margin-left: 420px;
    margin-right: 50px;
    text-align: justify;
}
fieldset{
    background-color: rgb(255, 255, 255)
}

input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
}

.contato{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;}
.contato-titulo{
    text-align: center;
}
.contato-paragrafo{
    font-size: 22px;
    text-align: justify;
    margin-left: 250px ;
    margin-bottom: 120px;
}
